/* Utils */
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}

.card {
    background: var(--surface-card);
    border: 1px solid var(--surface-border);
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: var(--card-shadow);
    border-radius: $borderRadius;

    &:last-child {
        margin-bottom: 0;
    }
}
@media (max-width: 991px) {
    .card {
        padding: 1rem;
    }
}
.card-chat {
    display: flex;
    flex-direction: column;
    background: var(--surface-card);
    border: 1px solid var(--surface-border);
    //padding: 12px 8px;
    margin-bottom: 2rem;
    box-shadow: var(--card-shadow);
    border-radius: $borderRadius;

    &:last-child {
        margin-bottom: 0;
    }
}
.card-form {
    background: var(--surface-card);
    margin-bottom: 2rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.card-wrapper {
    background: #F0F4F9;
    border: 1px solid var(--surface-border);
    padding: 16px;
    box-shadow: var(--card-shadow);
    border-radius: $borderRadius;
}

.chanel-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px 0;
    &__item {
        padding: 16px;
        display: flex;
        justify-content: space-between;
        background: #E2E9F4;
        border-radius: 4px;
        align-items: center;
    }
}

.bot-card {
    display: flex;
    flex-direction: column;
    &__title {
        margin-bottom: 0;
    }
    &__id {
        color: #95A1B4;
    }
    &__channels {
        margin-top: 12px;
    }
    &__channels-list {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-top: 4px;
    }
    &__options {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 12px;
    }
    &__check {
        display: flex;
        align-items: center;
        background: var(--surface-card);
        padding: 2px 8px;
        border-radius: 12px;
        border: none;
        outline: none;
        cursor: pointer;
    }
    &__edit {
        display: flex;
        align-items: center;
    }
    &__edit-icon {
        //margin-left: 8px;
        background: var(--surface-card);
        border-radius: 50%;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__activate {
        display: flex;
        align-items: center;
    }
}

.notification-wrapper {
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.notification-card {
    background: #F8FAFC;
    padding: 16px;
    box-shadow: var(--card-shadow);
    border-radius: $borderRadius;
}

.p-toast {
    &.p-toast-top-right,
    &.p-toast-top-left,
    &.p-toast-top-center {
        top: 100px;
    }
}

.avatar-wrapper {
    display: flex;
    gap: 16px;
    align-items: center;
    max-width: 450px;
}

.avatar-wrapper-mobile {
    display: flex;
    gap: 16px;
    align-items: center;
    //max-width: 150px;
}

.profile {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 80%;
}

.profile-settings {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 30px;
}

.tariff-card {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 16px;
    height: 140px;
    max-width: 330px;
    width: 100%;
    background: #F0F4F9;
}
.tariff {
    height: 128px;
    max-width: 330px;
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
